mkdocs-materialx
mkdocs-awesome-nav
mkdocs-document-dates
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-rss-plugin
# Required by the Material "social" plugin (social cards), built in CI
pillow
cairosvg
